<a href="https://colab.research.google.com/github/ekttd/VAST-Challenge/blob/main/VAST_Challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/VAST-Challenge/comm-data-Fri.csv')
df.head()

            Timestamp     from       to        location
0  2014-6-06 08:03:19   439105  1053224     Kiddie Land
1  2014-6-06 08:03:19   439105  1696241     Kiddie Land
2  2014-6-06 08:03:19   439105   580064     Kiddie Land
3  2014-6-06 08:03:19   439105  1464748     Kiddie Land
4  2014-6-06 08:03:47  1836139  1593258  Entry Corridor